body {
  background-image: url(./assets/images/background-desktop.png);
  color: white;
  font-family: "Outfit", serif;
  display: flex;
  flex-direction: column;
  max-height: 100dvh;
}
h1 {
  word-spacing: 7px;
  margin-bottom: 0;
  position: relative;
  top: 20px;
}

form {
  text-align: left;
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 10;
}
small {
  padding-bottom: 25px;
  font-size: 8px;
  padding-bottom: 25px;
  color: rgba(255, 255, 255, 0.7);
  word-spacing: 5px;
}
label {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 100;
}
input {
  background-color: hsl(245, 19%, 30%);
  border: solid gray 1px;
  border-radius: 5px;
  line-height: 2;
  margin: 3px 0 15px;
  cursor: text;
  color: white; /* Para que el texto sea visible */
}
span {
  font-size: 30px;
  font-weight: 600;
  word-spacing: 5px;
}
footer {
  text-align: center;
  padding: 20px 0;
  position: initial;
}
footer a {
  pointer-events: auto;
  color: white;
  text-decoration: underline;
}
p {
  font-size: 10px;
}
.details {
  font-size: 15px;
  max-width: 350px;
  margin-top: 20px;
  font-weight: 100;
  text-align: center;
}
.content-wrapper {
  margin: 0px auto;
  text-align: center;
  flex: 1; /* Permite que el contenido crezca y empuje la atribución hacia abajo */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.email-styling {
  color: hsl(7, 71%, 60%);
  font-size: 16px;
}
.full-name-styling {
  background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
  -webkit-background-clip: text;
  color: transparent;
  font-size: 35px;
}
.info-icon {
  position: relative;
  bottom: -6px;
}
.message {
  margin-top: 30px;
  font-size: 35px;
  font-weight: 600;
  max-width: 400px;
}

.subtitle {
  font-weight: 100px;
  word-spacing: 4px;
  font-weight: 100;
}
.ticket {
  display: flex;
  position: relative;
  width: 600px;
  text-align: left;
  color: white;
  height: 200px;
}

.ticket-generator-button {
  background-color: hsl(7, 71%, 60%);
  font-weight: bold;
  color: hsl(248, 70%, 10%);
}

.ticket-pattern {
  position: absolute;
  z-index: 0;
  margin: 0 auto;
  display: block;
}

.upload-container {
  display: block;
  text-align: center;
  background-color: hsl(245, 19%, 30%);
  border: dashed gray 1px;
  border-radius: 5px;
  color: #ccc;
  height: 70px;
}

#ticket-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ticket-content {
  flex: 1;
}
.ticket-date {
  font-size: 15px;
  padding-bottom: 40px;
  color: rgba(255, 255, 255, 0.4);
  word-spacing: 10px;
  position: relative;
  left: 76px;
}
.profile-pic {
  border-radius: 10px;
  width: 80px;
  position: relative;
  left: 10px;
  margin: 20px;
  top: 25px;
}
.profile-info {
  right: -120px;
  position: relative;
  top: -60px;
  text-align: left;
}

.ticket-number {
  writing-mode: vertical-rl;
  position: relative;
  color: rgba(255, 255, 255, 0.4);
  bottom: 230px;
  left: 520px;
  max-width: 100%;
}
.ticket-logo {
  position: relative;
  top: 15px;
  left: 10px;
  margin: 20px;
}
.profile-name {
  text-transform: capitalize;
  color: white;
  font-size: 25px;
}
.profile-user-name {
  color: rgba(255, 255, 255, 0.4);
  bottom: 25px;
  position: relative;
  left: 25px;
  font-size: 15px;
}
.pattern-line {
  position: absolute;
  top: 505px;
  pointer-events: none; /* Evita que bloquee clics */
  z-index: -1; /* Lo manda al fondo */
}
.pattern-top {
  position: absolute;
  left: 817px;
}
.pattern-lines-background {
  position: absolute;
  top: 1px;
  max-width: 100%;
  width: auto;
  pointer-events: none; /* Evita que bloquee clics */
  z-index: -1; /* Lo manda al fondo */
  max-height: 100vh;
  height: auto;
}
.pattern-circle {
  position: absolute;
  top: 304px;
  left: 752px;
}

.subtitle {
  margin-bottom: 10px; /* Reduce el espacio entre subtítulo y ticket */
}
.upload-icon {
  position: relative;
  bottom: -8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  padding: 3px;
}
input,
.ticket-generator-button {
  box-sizing: border-box;
  max-width: 100%;
  width: 300px;
}
#logo {
  max-width: 150px;
  display: block;
  margin: 30px auto 0;
}

@media (max-width: 480px) {
  body {
    background-image: url(./assets/images/background-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Asegura que ocupe toda la pantalla */
    width: 100vw; /* Asegura que cubra todo el ancho */

    margin: 0; /* Evita márgenes no deseados */
    padding: 0; /* Evita padding no deseado */
  }
  h1 {
    margin: 0 auto 20px;
    top: 60px;
  }
  form {
    bottom: -35px;
    padding: 0px 10px;
    max-width: 300px;
  }
  label {
    font-size: 12px;
  }
  .subtitle {
    position: relative;
    bottom: -20px;
  }
  .icon-github {
    width: 20px;
  }

  .message {
    font-size: 30px;
    padding-top: 0px;
    margin-top: 0;
  }
  .details {
    font-weight: 100;
    padding-top: 20px;
  }

  .content-wrapper {
    padding: 20px;
  }
  .pattern-lines-background {
    top: 0; /* Asegura que esté bien alineado */
    width: 100vw; /* Se ajusta al ancho de la pantalla */
    height: 100dvh; /* O puedes probar 50vh si es demasiado grande */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsión */
  }

  .pattern-line {
    display: flex;
    left: -28%;
    width: 100%;
    position: absolute;
    transform: rotate(42deg);
    bottom: 100px;
  }
  .ticket-content {
    position: relative;
    top: 60px;
  }

  .ticket {
    width: 300px; /* Mantiene el tamaño del ticket */
    max-height: 150px;
    padding: 10px;
    margin: 80px auto;
    top: -130px;
  }

  .ticket-date {
    font-size: 10px;
    padding-bottom: 20px;
    word-spacing: 7px;
    left: 24px;
  }
  .ticket-pattern {
    max-width: 100%;
  }
  .profile-name {
    font-size: 15px;
  }
  .profile-pic {
    border-radius: 5px;
    max-width: 40px;
    max-height: 60px;
    top: 35px;
    top: 5px;
    left: -10px;
  }
  .pattern-top {
    left: 258px;
    max-width: 100px;
  }
  .profile-info {
    right: -55px;
    top: -60px;
  }
  .profile-user-name {
    font-size: 12px;
  }
  .pattern-circle {
    display: none;
  }

  .ticket-number {
    left: 88%;
    bottom: 115%;
    color: rgba(255, 255, 255, 0.4);
  }

  .ticket-logo {
    width: 150px;
    margin: 0;
    top: 5px;
  }

  #ticket-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    min-height: auto; /* Evita que se expanda innecesariamente */
    z-index: 10;
  }
}
